<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <p hidden><a class="sidebar-nav-item{% if page.url == '/nav/getting-started/' %} active{% endif %}" href="{{ site.baseurl }}/nav/getting-started"><i class="fa fa-play fa-fw"></i> Getting Started</a></p>
      <a class="sidebar-nav-item{% if page.url == '/syllabus/' %} active{% endif %}" href="{{ site.baseurl }}/syllabus"><i class="fa fa-bullhorn fa-fw"></i> Syllabus</a>
      <a class="sidebar-nav-item{% if page.url == '/schedule/' %} active{% endif %}" href="{{ site.baseurl }}/schedule"><i class="fa fa-calendar fa-fw"></i> Schedule</a>
      <p hidden><a class="sidebar-nav-item{% if page.url == '/nav/course-materials/' %} active{% endif %}" href="{{ site.baseurl }}/nav/course-materials"><i class="fa fa-briefcase fa-fw"></i> Course Materials</a></p>
      <a href="https://canvas.uw.edu/courses/1273428"><i class="fa fa-briefcase fa-fw"></i> Canvas</a>
      <br>
      <a href="https://canvas.uw.edu/courses/1273428/discussion_topics"><i class="fa fa-user fa-fw"></i> Discussions</a>
      <br>
      <p hidden><a href="https://uw.hosted.panopto.com/Panopto/Pages/Sessions/List.aspx?folderID=6d1c3808-606e-4890-8156-a876015a07f5"><i class="fa fa-magic fa-fw"></i> Panopto</a></p>
      <br>
      <a href="https://www.rstudio.com/resources/cheatsheets"><i class="fa fa-book fa-fw"></i> Cheatsheets</a>
    </nav>

    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/public/cc-by-80x15.png" /></a></p>

      <a class="sidebar-nav-item{% if page.url == '/nav/about/' %} active{% endif %}" href="{{ site.baseurl }}/nav/about"><i class="fa fa-user fa-fw"></i> Course Dev Info</a>

  </div>
</div>
